{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h5>{% if pk %}Edit {{ table.name }}{% else %}Create New Category Table{% endif %}</h5>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a href="{% url 'dashboard:category-tables' %}" class="btn btn-danger">Cancel</a>
        {% bootstrap_button 'Save' 'submit' button_class='btn btn-primary'%}
    </form>
{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
