{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}

{% block content %}
    <table class="category-table">
        <thead>
            <th></th>
            {% for x_axis_header in x_axis_values %}
                <th>{{ x_axis_header }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for header, products in table_data.items %}
                <tr>
                    <th>{{ header }}</th>
                    {% for x_header in x_axis_values %}
                        <td>
                        <table>
                            <tr>
                            {% for product in products %}
                                {% ifequal x_header product.x_axis_grouper %}
                                    <td>
                                        <div class="model">{{ product.product.model }}</div>
                                        <div class="image"><img src="{{ product.product.image_thumb }}" alt=""></div>
                                        <div class="specs"></div>
                                        <div class="price">{{ product.product.current_average_price }}</div>
                                    </td>
                                {% endifequal %}
                            {% endfor %}
                            </tr>
                        </table>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
