boto3==1.17.17
Django==3.1.5
django-bootstrap4==2.3.1
django-bstrap-modals==2.1.0
django_extensions==3.1.0
django-storages==1.11.1
dialogflow==1.1.0
model-mommy==2.0.0
pillow==8.1.0
pint==0.16.1
psycopg2-binary==2.8
python-dateutil==2.8.1
Scrapy==2.4.1
scrapy-djangoitem==1.1.1
