{% extends 'auth/auth_base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block card_header %}{% trans 'Login' %}{% endblock %}

{% block card_form %}
    <form method="post" class="user">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
        <hr>
    </form>
    <a href="{% url 'password_reset' %}" class="btn btn-user btn-block">{% trans 'Forgot password' %}</a>
{% endblock %}
