{% extends "admin/change_list_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% add_preserved_filters '/admin/map_products/' is_popup to_field %}" class="addlink">
          {% blocktranslate %}Map Products{% endblocktranslate %}
        </a>
    </li>
    <li>
        <a href="{% add_preserved_filters '/admin/map_product_attributes/' is_popup to_field %}" class="addlink">
          {% blocktranslate %}Update Missing Attributes{% endblocktranslate %}
        </a>
    </li>
{% endblock %}
