{% extends "admin/base_site.html" %}
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    {% block main_content %}
    {% endblock %}
    {% block extra_js %}
        <script src="{%  static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="{%  static 'js/popper.min.js' %}"></script>
        <script src="{%  static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
{% endblock %}
