{% extends "site/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block main_content %}
    {% if formset.forms %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table style="width: 100%">
            <thead>
                {% for form in formset.forms %}
                    {% if forloop.first %}
                        {% for field in form %}
                            {% if field.label != 'Id' %}
                            <th>{{ field.label_tag }}</th>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </thead>
            <tbody>
                {% for form in formset.forms %}
                    <tr>
                        {% for field in form %}
                            <td style="{% if field.label == 'Id' %}display: none{% endif %}">{% if field.field.disabled %}{{ field.initial }}{% else %}{{ field }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% bootstrap_button _('Save') button_type="submit" button_class='btn-success' %}
    </form>
    {% else %}
        <div class="container-fluid">{% trans "Formset is empty" %}</div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
