.scrollable-table tbody {
    display:block;
    max-height:500px;
}
.scrollable-table thead, .scrollable-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.scrollable-table thead {
    position: sticky;
    top: 0;
    background-color: white;
}

table .image img {
    max-height: 75px;
}

.content-body {
	flex: 1 1 auto; padding: 2rem 2.3rem;
}

.gallery-wrap .img-big-wrap {
    margin-bottom: 10px;
    border-radius: 0.37rem;
    overflow: hidden;
    background-color: #fff;
}

.center {
    margin: 0 auto;
}

.specr-logo {
    font-size: x-large;
    font-weight: 700;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
}

.feedback-button {
    position: fixed;
    bottom: 30px;
    right: 40px;
    height: 56px;
    width: 56px;
    z-index: 2000;
}

.hidden {
    display: none;
}

table.small td {
    padding: 0.30rem;
}

.dropdown-button {
    border: 1px solid #858796;
    font-size: 20px;
    padding: 5px 10px 5px 20px;
}

.dropdown-button::after {
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: 0.2em;
    content: "";
    border-top: 0.25em solid;
    border-right: 0.25em solid transparent;
    border-bottom: 0;
    border-left: 0.25em solid transparent;
}
