.overflow-container {
    display: block;
    overflow-x: auto;
}

.category-table {
    white-space: nowrap;
    text-align: center;
}

.category-table .cell {
    border: 2px solid #e3e6f0;
}

.category-table thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

.category-table tbody th {
    position: sticky;
    left: 0;
    background-color: white;
}

.category-table img {
    height: 100px;
}

.category-table .model, .category-table .price {
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.category-table .model {
    border-bottom: 1px solid #e3e6f0;
    padding: 5px;
}

.category-table .price {
    border-top: 1px solid #e3e6f0;
    padding: 5px;
}

.category-table .specs {
    font-size: 12px;
}

.category-table .product-cell {
    width: 150px;
    max-width: 150px;
    overflow-x: hidden;
}

.category-table .product-cell.empty {
    color: white;
}
