{% extends 'dashboard_base.html' %}
{% load dashboard_extras %}
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pivot-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullscreen-modal.css' %}">
{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="dropdown">
          <button class="btn dropdown-toggle dropdown-button text-gray-800" type="button" id="SelectDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ table.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="SelectDropdown">
              {% for table_item in tables %}
                  <a class="dropdown-item {% if table_item == table %}active{% endif %}" href="{% url 'dashboard:category-table' table_item.pk %}">{{ table_item.name }}</a>
              {% endfor %}
          </div>
        </div>
        {{ action_button.render }}
    </div>
    <div class="overflow-container shadow">
        <table class="shadow bg-white category-table">
            <thead>
                {% if table.y_axis_attribute %}<th class="cell"></th>{% endif %}
                {% for x_axis_header in x_axis_values %}
                    <th class="cell">{{ x_axis_header }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for header, products in table_data.items %}
                    <tr class="{% if not table.x_axis_attribute and table.y_axis_attribute %}cell{% endif %}">
                        {% if table.y_axis_attribute %}<th class="cell">{{ header }}</th>{% endif %}
                        {% if not table.x_axis_attribute %}
                            {% for product in products %}
                                {% include 'includes/product_table_cell.html' %}
                            {% endfor %}
                        {% else %}
                            {% for x_header in x_axis_values %}
                                <td class="cell">
                                <table>
                                    <tr>
                                    {% for product in products %}
                                        {% ifequal x_header product.x_axis_grouper %}
                                            {% include 'includes/product_table_cell.html' %}
                                        {% endifequal %}
                                    {% endfor %}
                                    </tr>
                                </table>
                                </td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% include 'includes/fullscreen_modal.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/fullscreen-modal.js' %}"></script>
{% endblock %}
