{% extends 'dashboard_base.html' %}
{% load dashboard_extras %}
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pivot-table.css' %}">
{% endblock %}

{% block content %}
    <div class="card shadow mb-4" style="max-height: 830px;">
        {% with table.name as header %}
            {% include 'includes/card_header.html' %}
        {% endwith %}
        <table class="category-table">
            <thead>
                <th class="cell"></th>
                {% for x_axis_header in x_axis_values %}
                    <th class="cell">{{ x_axis_header }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for header, products in table_data.items %}
                    <tr>
                        <th class="cell">{{ header }}</th>
                        {% for x_header in x_axis_values %}
                            <td class="cell">
                            <table>
                                <tr>
                                {% for product in products %}
                                    {% ifequal x_header product.x_axis_grouper %}
                                        {% if product|is_empty_cell %}
                                            <td class="product-cell empty">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur aut cum, delectus labore maxime nostrum officiis qui, rem rerum vero voluptatibus. Id itaque laboriosam sed sint tenetur voluptatum.</td>
                                        {% else %}
                                            <td class="product-cell">
                                                <div class="model"><a href="{% url 'dashboard:product' pk=product.product.pk %}">{{ product.product.model }}</a></div>
                                                <div class="image"><img src="{{ product.product.image_thumb }}" alt=""></div>
                                                <div class="specs">{% product_specs product.product %}</div>
                                                <div class="price">
                                                    {% with price=product.product.current_average_price %}
                                                    {% if  price %}€{{ product.product.current_average_price }}{% else %}No Price Data{% endif %}
                                                    {% endwith %}
                                                </div>
                                            </td>
                                        {% endif %}
                                    {% endifequal %}
                                {% endfor %}
                                </tr>
                            </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
