{% extends 'dashboard_base.html' %}
{% load dashboard_extras %}
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pivot-table.css' %}">
{% endblock %}

{% block content %}
    {% for cluster in report.gap_analysis_clusters %}
        <div class="card shadow mb-4">
            <div class="row">
                <div class="col">
                    {% with single_stat_header="average price" single_stat=cluster.average_price  %}
                        {% include "includes/single_stat.html" %}
                    {% endwith %}
                </div>
                <div class="col">
                    {% with single_stat_header="cluster size" single_stat=cluster.cluster_size  %}
                        {% include "includes/single_stat.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
