{% extends 'dashboard_base.html' %}
{% load dashboard_extras %}
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pivot-table.css' %}">
{% endblock %}

{% block content %}
    {% for cluster in report.gap_analysis_clusters %}
        <div class="card shadow mb-4 p-4">
            <div class="row">
                <div class="col">
                    {% with single_stat_header="average price" single_stat=cluster.average_price  %}
                        {% include "includes/single_stat.html" %}
                    {% endwith %}
                </div>
                <div class="col">
                    {% with single_stat_header="cluster size" single_stat=cluster.cluster_size  %}
                        {% include "includes/single_stat.html" %}
                    {% endwith %}
                </div>
                <div class="col">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Competitive Score
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="{{ cluster.competitive_score | cluster_score_icon }} fa-2x text-{{ cluster.competitive_score | cluster_score_class }}"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <i class="fa fa-chevron-left" type="button" data-toggle="collapse" id="cluster-{{ cluster.average_price }}-control" data-target="#cluster-{{ cluster.average_price }}-collapse" aria-expanded="false" aria-controls="cluster-{{ cluster.average_price }}-collapse"></i>
                </div>
            </div>
            <div class="collapse" id="cluster-{{ cluster.average_price }}-collapse">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Dominant Brand
                        </div>
                        <p>{{ cluster.dominant_brand.value }} has {{ cluster.dominant_brand.display_share }} display share compared to your range of {{ cluster.dominant_brand.target_range_display_share }}</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Spec Gap Analysis
                    </div>
                </div>
                <div class="row no-gutters">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Spec</th>
                                <th>Dominant Value</th>
                                <th>Target Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for spec, data in cluster.target_range_spec_gap.items %}
                                <tr>
                                    <td>{{ spec.attribute_type }}</td>
                                    <td>{{ data.value }}</td>
                                    <td>{{ data.target_range_products|join:',' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapse').on('shown.bs.collapse', function (e) {
                var controlSelector = "#" + e.target.id.replace("collapse", "control")
                $(controlSelector).removeClass("fa-chevron-left")
                $(controlSelector).addClass("fa-chevron-down")
            })
            $('.collapse').on('hidden.bs.collapse', function (e) {
                var controlSelector = "#" + e.target.id.replace("collapse", "control")
                $(controlSelector).removeClass("fa-chevron-down")
                $(controlSelector).addClass("fa-chevron-left")
            })
        })
    </script>
{% endblock %}
