{% extends 'dashboard_base.html' %}
{% load dashboard_extras %}
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pivot-table.css' %}">
{% endblock %}

{% block content %}
    {% for cluster in report.gap_analysis_clusters %}
        <div class="card shadow mb-4">
            <div class="row">
                <div class="col">
                    {% with single_stat_header="average price" single_stat=cluster.average_price  %}
                        {% include "includes/single_stat.html" %}
                    {% endwith %}
                </div>
                <div class="col">
                    {% with single_stat_header="cluster size" single_stat=cluster.cluster_size  %}
                        {% include "includes/single_stat.html" %}
                    {% endwith %}
                </div>
                <div class="col">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Competitive Score
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="{{ cluster.competitive_score | cluster_score_icon }} fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
