{% extends 'dashboard_base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <div class="card shadow mb-4" style="max-height: 830px;">
        {% with 'Price History' as header %}
            {% include 'includes/card_header.html' %}
        {% endwith %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered scrollable-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Website</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for price in object_list %}
                            <tr>
                                <td>{{ price.created }}</td>
                                <td>{{ price.website }}</td>
                                <td>{{ price.data.value }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="5" style="text-align: center">No price history for {{ product }}.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'includes/table_pagination.html' %}
        </div>
    </div>
{% endblock %}
