{% extends 'dashboard_base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <div class="card shadow mb-4">
        {% with 'Product Info' as header %}
            {% include 'includes/card_header.html' %}
        {% endwith %}
        <div class="row no-gutters">
            <aside class="col-md-6">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                      <div> <a href="#"><img src="{{ product.image_main }}" style="width: 100%"></a></div>
                    </div>
                </article>
            </aside>
            <main class="col-md-6 border-left">
                <article class="content-body">
                    <h2 class="title">{{ product }}</h2>

                    <div class="mb-3">
                        <var class="price h4">€ {{ product.current_average_price }}</var>
                    </div>
                    <table>
                        <tbody>
                            {% for attribute in product.productattributes.all %}
                                <tr>
                                  <th>{{ attribute.attribute_type.name }}</th>
                                  <td>{{ attribute.data.value }} {% if attribute.attribute_type.unit %}{{ attribute.attribute_type.unit }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
            </main>
        </div>
    </div>
    <div class="card shadow mb-4" style="max-height: 830px;">
        {% with 'Price History' as header %}
            {% include 'includes/card_header.html' %}
        {% endwith %}
        <div class="card-body">
            {% with field_col_class='col-xs-12 col-sm-2' %}
                {% include 'includes/filter_form.html' %}
            {% endwith %}
            <div class="table-responsive">
                <table class="table table-bordered scrollable-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Website</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for price in object_list %}
                            <tr>
                                <td>{{ price.created }}</td>
                                <td>{{ price.website }}</td>
                                <td>{{ price.data.value }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="5" style="text-align: center">No price history for {{ product }}.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'includes/table_pagination.html' %}
        </div>
    </div>
{% endblock %}
