{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body_content %}
    <div id="wrapper">
        {% include "includes/sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'includes/topbar.html' %}
                {% include 'includes/messages.html' %}
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/dialog.html' %}
    {% include 'includes/feedback_button.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/dialog.js' %}"></script>
{% endblock %}
