{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body_content %}
    <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">
        <div class="text-white specr-logo center">Specr</div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}
