{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block body_content %}
    <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">
        <a class="text-white specr-logo center text-decoration-none" href="{% url 'dashboard:home' %}">Specr</a>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}
