{% extends 'base.html' %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css">
{% endblock %}

{% block body_content %}
    <div id="wrapper">
        {% include "includes/sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'includes/topbar.html' %}
                {% include 'includes/messages.html' %}
                {% if show_toolbar %}{% include 'includes/toolbar.html' %}{% endif %}
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/dialog.html' %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/dialog.js"></script>
{% endblock %}
